<%= stylesheet_link_tag "#{AppConfig[:public_proxy_prefix]}assets/datepicker.css?_t=#{ASConstants.VERSION}" %>

<%= javascript_include_tag "#{AppConfig[:public_proxy_prefix]}assets/bootstrap-datepicker.js?_t=#{ASConstants.VERSION}" %>
<%= javascript_include_tag "#{AppConfig[:public_proxy_prefix]}assets/bootstrap-combobox.js?_t=#{ASConstants.VERSION}" %>
<%= javascript_include_tag "#{AppConfig[:public_proxy_prefix]}assets/uva_topdesk_form.js?_t=#{ASConstants.VERSION}" %>

<% handler.list_map.each do |name, value| %>
  <input type="hidden" name="<%= name %>" value="<%= value  %>">
<% end %>

<div class="rl-message rl-message-title">

  <div class="rl-ha-collapsed-help">
    <%= t('plugin.request_list.title_message').html_safe %>

    <a class="rl-ha-expand-help"
       title="<%= t('plugin.request_list.expand_help_message') %>"
       data-expand-label="<%= t('plugin.request_list.expand_help_label') %>"
       data-collapse-label="<%= t('plugin.request_list.collapse_help_label') %>"
       href="javascript:void(0);">

      <%= t('plugin.request_list.expand_help_label') %>
    </a>
  </div>

  <div class="rl-ha-expanded-help" style="display:none">
    <%= t('plugin.request_list.expanded_help').html_safe %>
  </div>
</div>


<div class="row rl-uva-additional-fields">

  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label"><%= t('plugin.uva_request_list_profile.options.user_type') %> *</label>
      <div class="">
        <select name="user_type" id="user_type_select" class="form-control rl-uva-list-input required">
          <option value=""><%= t('plugin.request_list.uva.options.user_types.noselect') %></option>
          <option value="internal"><%= t('plugin.request_list.uva.options.user_types.internal') %></option>
          <option value="external"><%= t('plugin.request_list.uva.options.user_types.external') %></option>
        </select>
      </div>
    </div>
  </div>

</div>

<div class="rl-uva-user-type-fields">
  <div class="rl-uva-user-type-internal-fields">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label"><%= t('plugin.request_list.uva.options.uvanetid') %> *</label>
          <input class="form-control rl-uva-list-input required" name="uvanetid">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label"><%= t('plugin.request_list.uva.options.internal_email') %> *</label>
          <input class="form-control rl-uva-list-input required" name="internal_email">
        </div>
      </div>
    </div>
  </div>
  <div class="rl-uva-user-type-external-fields">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label"><%= t('plugin.request_list.uva.options.user_name') %> *</label>
          <input class="form-control rl-uva-list-input required" name="user_name">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label"><%= t('plugin.request_list.uva.options.external_email') %> *</label>
          <input class="form-control rl-uva-list-input required" name="external_email">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label"><%= t('plugin.request_list.uva.options.library_card') %> *</label>
          <input class="form-control rl-uva-list-input required" name="library_card">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label"><%= t('plugin.request_list.uva.options.telephone') %></label>
          <input class="form-control rl-uva-list-input" name="telephone">
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <label class="control-label" title="Required"><%= t('plugin.request_list.uva.options.preferred_date') %> *</label>
        <div class="input-group datepicker rl-datepicker">
          <input class="date-field form-control rl-uva-list-input required"
                 title="<%= t('plugin.request_list.options.date_help') %>"
                 data-format="dd/mm/yyyy"
                 data-date="<%= Date.today.strftime('%d/%m/%Y') %>"
                 data-date-start-date="<%= (Date.today + 3).strftime('%d/%m/%Y') %>"
                 data-autoclose="true"
                 data-force-parse="true"
                 placeholder="DD/MM/YYYY"
                 name="preferred_date">
        </div>
      </div>
    </div>
</div>
<br/>
<div class="row">
  <div class="form-group rl-uva-terms-and-conditions col-sm-8">
    <div class="form-group">
      <input type="checkbox" name="terms_and_conditions" value="agree" class="rl-uva-list-input required"> &nbsp;
      <label class="control-label"><%= t('plugin.request_list.uva.options.terms_and_conditions') %></label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <div style="padding-top:20px">
      <button type="submit" class="btn btn-primary uva-submit-requests"><%= t('plugin.request_list.submit_button_label') %></button>
    </div>
  </div>
</div>

<br/>
